################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LtsParkingAppApi/.vs/LtsParkingAppApi/v15
