################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LtsParkingAppApi/.vs/LtsParkingAppApi/v15
/LtsParkingAppApi/.vs/config
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/LtsParkingAppApi/AppDomain/bin\\Debug\\netcoreapp2.0
/LtsParkingAppApi/AppDomain/obj
/LtsParkingAppApi/LtsParkingAppApi/bin/Any CPU/Release/netcoreapp2.0
/LtsParkingAppApi/LtsParkingAppApi/obj/Any CPU/Release/netcoreapp2.0
